<body>
  <div id="systemLanguage" style="right: 5px;top: 5px;position: fixed;"></div>
  <button id="viewHidden" data-view="0" onclick="viewHidden()" style="right: 55px;top: 5px;position: fixed;">@</button>
  
</body>


<template name="home">
  {{> loginButtons}}
  Demo
  <br><br><br>
  <!--Creator: <input id="creator" type="text">
  Participants: <input id="participants" type="text">
  Patient: <input id="patient" type="text">
  <button id="addchat"> + </button>
  <br><br>-->
  <div id="templates">
        <!--{{#each templates}}
          {{> Template.dynamic template=template data=data}}
        {{/each}}-->
  </div>

  <!--{{> Chats chatdata}}-->

  <br><br><br><br>

  

  <br><br><br><br><br><br><br><br>
</template>

<template name="Language">
</template>