/*.cm-header-1 { font-size: 2em; }
.cm-header-2 { font-size: 1.75em; }
.cm-header-3 { font-size: 1.5em; }
.cm-header-4 { font-size: 1.3em; }
.cm-header-5 { font-size: 1.2em; }
.cm-header-6 { font-size: 1.15em; }
.cm-quote { color: #111; font-family: sans-serif; }
.CodeMirror {  height: auto; }*/
canvas {
    max-width: 100%;
}
.fit {
    max-width: 100%;
}
html,body {
    height:100%;
    width: 100%;
    margin:0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
#__blaze-root, .container {
    height:100%;
}

/*
.upper{
    height:97%;
}
#cont1 {
    height:100%;
}
.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: inline-flex;
}
#cont1 {
    min-height: 630px;
    width: 500px;
    border: 0px solid #aaa;
}
.simple div {
    overflow: auto;
}
.vsplitbar {
    width: 5px;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-left: 10px;
}*/